<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: san serif; color: #fff; padding: 30px;} 
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            h1{font-size: 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p, li{font-size: 18px; text-align: left;}
        </style>
    </head>
    <body>
        <h1>welcome to the profile of <%= person %> </h1>
        <p> <strong> name </strong><%= data.name %>.</p>
        <p> <strong> age </strong><%= data.age %>.</p>
        <p> <strong> job </strong><%= data.job %>.</p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
                <li>
                    <%= item %>
                </li>
            <% }); %>
        </ul>
    </body>
</html>